.full-page-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  font-family: 'Roboto, sans-serif';
}

.header {
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 50px;
  border-radius: 40px;
}

.main-content {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  flex: 1;
}

.box-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  align-items: center;
}

.styled-box {
  padding: 10px;
  background-color: #808080;
  border-radius: 10%;
  width: 20%;
  height: 200px;
  text-align: center;
  margin: 0.5px;
  transition: transform 0.3s ease;
}

.styled-box:hover {
  transform: scale(1.1);
}

.content-div {
  padding: 20px;
  margin: 10px;
  border: 0px solid #ccc;
  width: 100%;
  text-align: center;
  color: #fff;
}

.button-carousel {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.button-item {
  margin: 10px;
}
